

<%= video_tag(['Onzen.mp4', 'Onzen.webm'], playsinline: true, width: '960', autoplay: true, muted: true, loop: true, poster: 'Onzen.jpg', id:"backroundvid") %>


<div class="row">
  <div class="col-xs-12">
    <div class="row">
      <div class="col-sm-12">
        <div class="text-center featuretext">
          <p>Zoopedia - Society's stupidest site specializing solely in citing silly solliloquies in sibilance...</p>
          <a class="btn btn-primary text-center fromtop" href="/home" role="button">Home</a>
          <a class="btn btn-primary text-center fromtop" href="/species" role="button">All Species</a>
        </div>
      </div>
    </div>
  </div>
</div>
