
.container {
  height: 100vh;
  width: 100vw;
  max-width: 960px;
  margin: 0 auto;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

.navbar {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7),to(#eee));
  background-image: -webkit-linear-gradient(top, #f7f7f7 0%,#eee 100%);
  background-image: -o-linear-gradient(top, #f7f7f7 0%,#eee 100%);
  background-image: linear-gradient(to bottom, #f7f7f7 0%,#eee 100%);
  border: 1px solid #e5e5e5;
  z-index: 1;
}

@media (min-width: 768px) {
  .navbar-nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .navbar-nav .nav-item {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
  }
}

.navbar-brand {
  width: 50px;
}

@media screen and (min-width: 768px) {
  .masthead,
  .marketing {
    padding-right: 0;
    padding-left: 0;
  }
}

.footer {
  bottom: 0;
  width: 100%;
  height: 30px;
  line-height: 30px;
  background-color: transparent;
}
