<h2>Classes</h2>
<% @chordata.each do |chordatum| %>
  <h5><%= chordatum.class_name %></h5>
  <%= cl_image_tag(chordatum.image, :width=>150, :height=>150, :radius=>"20", :crop=>"fill") if chordatum.image.present? %>
<% end %>
